body { background-color: rgb(239, 239, 239); font-size: 100%; color: rgb(102, 102, 102) }
html,
button,
input,
select,
textarea,
.pure-g [class *= "pure-u"] { font-family: "DejaVu Sans Mono", "Droid Sans Mono", "Ubuntu Mono", monospace; font-size: 14px; font-size: 1.5vm; font-size: 1.5vmin; }
h1,
h2,
h3 { font-family: "DejaVu Sans Mono", "Droid Sans Mono", "Ubuntu Mono", monospace; font-weight: 300 }
a { padding-bottom: 2px; color: #222; text-decoration: none; border-bottom: 1px dotted #aaa }
p { line-height: 160% }
li { margin: 1em auto; }
code { padding: 2px 4px; color: #c7254e; background-color: #f9f2f4; border-radius: 4px; font-size: 12px; font-size: 1.3vm; font-size: 1.3vmin; }
blockquote { border-left: 5px solid #ddd; padding-left: 10px; }
.wrapper { padding: 1em; max-width: 768px; margin: 0px auto; }
.section { margin: 50px auto }
.post-date { text-align: right; color: #bbb; }
.logo { text-transform: uppercase; z-index: 2; padding: 20px; font-size: 2em; background-color: #555; display: block; color: #eee; text-align: center; position: fixed; top: 20px; left: 20px; }
.footer { margin-top: 50px; text-align: center; font-size: .9rem; color: #bbb; }
.footer a { color: #bbb }
.footer a:hover { color: #222 }
code[class*=language-],
pre[class*=language-] { font-family: 'Fira Mono', monospace; }
pre[class*=language-]>code[data-language] { overflow: auto }
@media (max-width:768px) {
  html,
  button,
  input,
  select,
  textarea,
  .pure-g [class *= "pure-u"] { font-size: 16px; font-size: 2vm; font-size: 2vmin; }
  .logo { padding: 10px; font-size: 1.5em; top: 0; left: 0; width: 100%; }
}