<section class="mt5 f7 f6-ns gray">
    <p class="mv1 lh-copy">Written/translated by me. Content is <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">CC BY-NC-ND 4.0</a>, unless stated otherwise. Icons by <a href="http://evil-icons.io/" target="_blank">Evil Icons</a></p>
    <p class="mv1 lh-copy">Được viết/dịch bởi Ân. Nội dung mang giấy phép <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" title="Creative Commons Ghi nhận - Phi thương mại - Không phát sinh">CC BY-NC-ND 4.0</a>, trừ khi có ghi chú khác.</p>
</section>
