<!doctype html>
<html>
<head>
    <title>An Cao</title>

    {{> head }}
</head>
<body>
    <div class="wrapper">
        <div class="pure-g">
            <div class="pure-u-1">
                <section class="section">
                    <header>
                        <h1>An Cao</h1>
                        <h3>Hello! Terve! Hallo! Xin chào!</h3>
                    </header>
                    <main>
                        <p><i class="ion-person"></i> Fancy stuff hobbyist in <a href="https://www.openstreetmap.org/search?query=Oulu#map=12/65.0124/25.4682" target="_blank">Oulu, Finland</a></p>
                        <p><i class="ion-code"></i>
                            <span>PHP</span>,
                            <span>JavaScript/LiveScript</span>
                            and
                            <span>some &lambda; for fun</span>
                        </p>
                        <p><i class="ion-email"></i> kcj.pop.com <i class="ion-at"></i> gmail &middot; com</p>
                        <p><i class="ion-social-twitter"></i> <a href="https://twitter.com/kcjpop" target="_blank">/kcjpop</a></p>
                        <p><i class="ion-social-github"></i> <a href="https://github.com/kcjpop" target="_blank">/kcjpop</a></p>
                    </main>
                </section>

                <section class="section">
                    <h1>When I get bored&hellip;</h1>
                    <ul>
                    {{#each lastArticles}}
                    <li><a href="{{ path }}">{{ title }}</a></li>
                    {{/each }}
                    </ul>
                </section>
            </div>
        </div>
    </div>
    {{> ga }}
</body>
</html>
