<!doctype html>
<html>
<head>
  <title>Ân Cao</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon/favicon.png">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:600,700&amp;subset=vietnamese">
  <link rel="stylesheet" type="text/css" href="/minireset.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body class="bg-white f-sans-serif gray f5">
  <main>
    <section class="bg-near-white mb3">
      <a href="/" class="block mw8 center pa1 no-underline color-inherit">
        <h1 class="lh-copy f1 fw7 dark-gray">Hello, my name is Ân.</h1>
        <h2 class="lh-copy f2">But you can call me An.</h2>
      </a>
    </section>

    {% block content %}{% endblock %}
  </main>
</body>
</html>
