<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>

    {{> head }}
</head>
<body>
    <div><a class="logo" href="/">An</a></div>
    <div class="wrapper">
        <div class="pure-g">
            <div class="pure-u-1">
                <section class="section">
                    <header>
                        <h1>{{ title }}</h1>
                        <h3 class="post-date">{{ date }}</h3>
                    </header>
                    <main>{{{ contents }}}</main>
                    <footer class="footer">
                      <p>
                        <i class="ion-social-twitter"></i> <a href="https://twitter.com/kcjpop" target="_blank">/kcjpop</a>
                        <i class="ion-social-github"></i> <a href="https://github.com/kcjpop" target="_blank">/kcjpop</a>
                      </p>
                    </footer>
                </section>
            </div>
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>
    {{> ga }}
</body>
</html>