<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>

    {{> head }}
</head>
<body>
    <div><a class="logo" href="/">An</a></div>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-5"></div>
        <div class="pure-u-1 pure-u-sm-3-5">
            <section class="section">
                <header>
                    <h1>{{ title }}</h1>
                    <h3 class="post-date">{{ date }}</h3>
                </header>
                <main>{{{ contents }}}</main>
                <footer class="footer">
                  <p>
                    <i class="icon-social-twitter"></i> <a class="footer__social-link" href="https://twitter.com/kcjpop" target="_blank">kcjpop</a>
                    <i class="icon-social-github"></i> <a class="footer__social-link" href="https://github.com/kcjpop" target="_blank">kcjpop</a>
                  </p>
                </footer>
            </section>
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad()</script>
    {{> ga }}
</body>
</html>
