{% extends "layout.njk" %}

{% block content %}
<section class="mb3 pa1 mw8 center">
  <h2 class="lh-copy f2 dark-gray mb3">I made</h2>
  <div class="mb2">
    <div class="flex items-center">
      <h4 class="f4 lh-copy dark-red mr1">ehkoo</h4>
      <span>[ <a href="https://ehkoo.com" target="_blank">demo</a> ]</span>
      <span>[ <a href="https://github.com/ehkoo/web" target="_blank">source</a> ]</span>
    </div>
    <p class="lh-db">Ehkoo is an e-magazine I created and currently work for as the main writer. It was initially intended to be my personal blog to experiment with JAM stack, then has started to grow into a magazine where I share my experiences as a front-end developer, and other related technologies. Currently it has approximately 8k visitors monthly.</p>
  </div>

  <div class="mb2">
    <div class="flex items-center">
      <h4 class="f4 lh-copy dark-red">revergreen</h4>
      <span>[ <a href="https://github.com/kcjpop/revergreen" target="_blank">source</a> ]</span>
    </div>
    <p class="lh-db">Revergreen is a BuckleScript bindings for Evergreen UI – a React implementation of  the design system of Segment. I started this as a pet project to learn more about BuckleScript.</p>
  </div>

  <div class="mb2">
    <div class="flex items-center">
      <h4 class="f4 lh-copy dark-red">retrigonometry</h4>
      <span>[ <a href="https://github.com/kcjpop/retrigonoparty" target="_blank">source</a> ]</span>
    </div>
    <p class="lh-db">To have something to work while learning about ReasonML, I made retrigonoparty based on the existing project of @ramesaliyev. This is a visualization using canvas to draw unit circle together with trigonometric functions.</p>
  </div>

  <div class="mb2">
    <div class="flex items-center">
      <h4 class="f4 lh-copy dark-red">hubot-gitter</h4>
      <span>[ <a href="https://github.com/kcjpop/hubot-gitter" target="_blank">source</a> ]</span>
    </div>
    <p class="lh-db">I wrote this adapter some years back. It allows a chatbot built with Hubot to connect to Gitter’s chatrooms, and listen and respond to users’ commands. For examples, <code>/gif cat</code> to find a GIF with keyword “cat”. This can be deployed to Zeit.co platform at ease.</p>
  </div>
</section>
{% endblock %}
