* {cursor: url('assets/cursor.png'), pointer;}
body {margin: 0 auto; padding: 0; font-family: "Short Stack";}
.officium {position: absolute; display: block;}
.modal-backdrop {
  background-color: transparent;
}

.star {
  background: transparent url('assets/star.png') no-repeat;
  width: 35px;
  height: 35px;
  display: inline-block;
  background-position: -18px -20px;
}

.of-modal-content {
  box-shadow: none;
  border-radius: 0;
  border: 0;
}
  .of-modal-body {
    background: #97714a;
    color: #eee;
  }

.btn-of {
  border: 0;
  outline: none;
}

.btn-long {
  background: transparent url('assets/ui.png') 0 -188px no-repeat;
  width: 190px;
  height: 49px;
}

.btn-long:active {
  background-position: 0 -143px;
  height: 45px;
}

.gold {
  background: transparent url('assets/coinGold.png') no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-position: -15px -15px;
}
