<!doctype html>
<html>
<head>
    <title>An Cao</title>
    {{> head }}
</head>
<body class="bg-near-white sans-serif dark-gray">
    <div class="mw8 center">
        <section>
            <header>
                <h1>An Cao</h1>
                <h3>Hello! Terve! Xin chào!</h3>
            </header>
            <main>
                <p><i class="icon-user"></i> Fancy stuff hobbyist in <a href="https://www.openstreetmap.org/search?query=Oulu#map=12/65.0124/25.4682" target="_blank">Oulu, Finland</a></p>
                <p><i class="icon-cup"></i> PHP, JavaScript and some &lambda; for fun</p>
                <p><i class="icon-paper-plane"></i> kcj.pop.com [at] <i class="icon-social-google" title="gmail"></i> &middot; com</p>
                <p><i class="icon-social-twitter"></i> <a href="https://twitter.com/kcjpop" target="_blank">/kcjpop</a></p>
                <p><i class="icon-social-github"></i> <a href="https://github.com/kcjpop" target="_blank">/kcjpop</a></p>
            </main>
        </section>

        <section class="section">
            <h1>When I get bored&hellip;</h1>
            <ul>
            {{#each lastArticles}}
            <li><a href="{{ path }}">{{ title }}</a></li>
            {{/each }}
            </ul>
        </section>
    </div>
    {{> ga }}
</body>
</html>
