<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    {{> head }}
</head>
<body class="bg-near-white sans-serif dark-gray">
    <div class="dn db-l fixed top-1 left-1">
        <a class="w3 h3 bg-dark-gray white fw7 f4 br1 no-underline dib flex items-center justify-center" href="/">Ân</a>
    </div>
    <div class="mw7 center pa3">
        <section>
            <header class="mt3 mt0-l">
                <h1 class="f3 f2-ns lh-copy dark-red">{{ title }}</h1>
                <p class="gray tr f6 lh-copy tracked">
                    {{ date }} &ndash; {{ wordCount }} words &ndash; {{ readingTime }} reading
                </p>
            </header>
            <main class="lh-copy f5 f4-l content">{{{ contents }}}</main>
        </section>
        {{> footer}}
    </div>
    {{> bottom}}
</body>
</html>
