html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}
html,
button,
input,
select,
textarea,
h1,
h2,
h3,
.pure-g [class *= "pure-u"] {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", Ubuntu, sans-serif;
}
body {
  background-color: #efefef;
  font-size: 1.6rem;
  color: #1f2124;
}
h1,
h2,
h3 {
  font-weight: 300;
  color: #cb1b21;
}
a {
  padding-bottom: 0.2rem;
  color: #222;
  text-decoration: none;
  border-bottom: 0.1rem dotted #aaa;
}
p {
  line-height: 3rem;
}
li {
  margin: 1rem auto;
}
code {
  padding: 2px 4px;
  color: #9c6008;
  background-color: #f9f2f4;
  border-radius: 4px;
  font-size: 1.4rem;
}
blockquote {
  border-left: 5px solid #ddd;
  padding-left: 10px;
}
.section {
  margin: 5rem auto;
  padding: 0 1rem;
}
.post-date {
  text-align: right;
  color: #a0a5ad;
  font-size: 1.5rem;
}
.logo {
  z-index: 2;
  padding: 2rem;
  font-size: 2rem;
  background-color: #011627;
  display: block;
  color: #eee;
  text-align: center;
  position: fixed;
  top: 2rem;
  left: 2rem;
  font-weight: 300;
}
@media (max-width: 48em) {
  .logo {
    padding: 1rem;
    font-size: 1.5rem;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.footer {
  margin-top: 50px;
  text-align: center;
  font-size: 1.2rem;
}
.footer__social-link {
  color: #888;
}
.footer__social-link:hover {
  color: #222;
}
code[class*=language-],
pre[class*=language-] {
  font-family: "CamingoCode", "Fira Mono", "Ubuntu Mono", monospace;
}
pre[class*=language-] > code[data-language] {
  overflow: auto;
}
